.desktop-6-child {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: var(--color-gainsboro-300);
  width: 369px;
  height: 1063px;
}
.desktop-6-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 115.5px;
}
.about,
.contact-us,
.locate {
  position: absolute;
  top: 32px;
  left: 419px;
  display: inline-block;
  width: 123px;
  height: 53px;
}
.about,
.contact-us {
  left: 554px;
  width: 120px;
  height: 49px;
}
.contact-us {
  left: 682px;
  width: 207px;
  height: 45px;
}
.hostel-hopper {
  display: inline-block;
  -webkit-text-stroke: 1px #4e5dc0;
}
.bunk-1-icon,
.group-wrapper39,
.hostel-hopper,
.hostel-hopper-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 251px;
  height: 44px;
}
.bunk-1-icon,
.group-wrapper39 {
  top: 17px;
  left: 88px;
}
.bunk-1-icon {
  top: 11px;
  left: 24px;
  width: 50px;
  height: 50px;
}
.bunk-1-icon,
.pngwing-1-icon {
  object-fit: cover;
}
.desktop-6-inner,
.group-wrapper,
.pngwing-1-icon,
.pngwing-1-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}
.desktop-6-inner,
.group-wrapper {
  width: 339px;
}
.desktop-6-inner {
  top: 7px;
  left: 30px;
  font-size: var(--font-size-15xl);
  color: var(--color-slateblue);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  border: 3px solid var(--color-cornflowerblue-200);
  box-sizing: border-box;
  width: 489px;
  height: 65px;
}
.search-for-files {
  position: absolute;
  top: 20.55px;
  left: 32.94px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 364.58px;
  height: 23.9px;
}
.group-item,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 489px;
  height: 65px;
}
.group-item {
  top: 10.04px;
  left: 418.03px;
  width: 47.01px;
  height: 44.93px;
}
.search {
  position: absolute;
  top: 21px;
  left: 431px;
  letter-spacing: 0.02em;
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-white);
}
.group-parent1 {
  position: absolute;
  top: 14px;
  left: 903px;
  width: 489px;
  height: 65px;
  font-size: var(--font-size-6xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.ellipse-icon {
  position: absolute;
  top: 156px;
  left: 135px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.yashu9084 {
  position: absolute;
  top: 280px;
  left: 96px;
  font-size: var(--font-size-15xl);
}
.desktop-6-child1,
.rectangle-div {
  position: absolute;
  top: 347px;
  left: 75px;
  border-radius: var(--br-md);
  background-color: var(--color-cornflowerblue-200);
  width: 220px;
  height: 37px;
}
.desktop-6-child1 {
  top: 408px;
}
.change-password,
.log-out {
  position: absolute;
  top: 352px;
  left: 95px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.log-out {
  top: 413px;
  left: 145px;
}
.current-residency {
  position: absolute;
  top: 134px;
  left: 397px;
  font-size: var(--font-size-16xl);
  letter-spacing: 0.11em;
  font-weight: 600;
  font-family: var(--font-inter);
}
.oops-no-residency {
  position: absolute;
  top: 531px;
  left: 713px;
  font-family: var(--font-habibi);
  color: var(--color-gray-400);
}
.desktop-6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-mulish);
}
