.create-your-account,
.sign-up {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.sign-up {
  top: 1px;
  line-height: 60px;
  font-weight: 500;
  color: var(--color-black);
  width: 167.68px;
  height: 58px;
}
.create-your-account {
  top: 70px;
  font-size: var(--font-size-lg);
  line-height: 22.5px;
  width: 213.89px;
  height: 18px;
}
.inputremember {
  position: absolute;
  top: 3.75px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
}
.terms-of-service {
  font-weight: 500;
  color: var(--color-blueviolet);
}
.i-agree-to-container1 {
  line-break: anywhere;
  width: 100%;
}
.i-agree-to-container {
  position: absolute;
  top: 2px;
  left: 22.5px;
  line-height: 22.5px;
  display: flex;
  align-items: center;
  width: 330.72px;
  height: 18px;
}
.div2 {
  position: absolute;
  top: 241px;
  left: 0;
  width: 353.02px;
  height: 24px;
  font-size: var(--font-size-lg);
}
.create-an-account {
  position: relative;
  line-height: 27px;
  font-weight: 500;
}
.already-a-member-container,
.button {
  position: absolute;
  left: 0;
  display: flex;
}
.button {
  top: 295px;
  border-radius: var(--br-xs);
  background-color: var(--color-blueviolet);
  box-shadow: 0 15px 30px -7px rgba(119, 84, 246, 0.5);
  border: 1px solid var(--color-blueviolet);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-15xl) var(--padding-lg)
    var(--padding-16xl);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
}
.already-a-member-container {
  top: 381px;
  font-size: var(--font-size-lg);
  line-height: 22.5px;
  align-items: center;
  width: 173.37px;
  height: 18px;
}
.divplaceholder,
.full-name {
  position: absolute;
  height: 19px;
}
.full-name {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 72.03px;
}
.divplaceholder {
  top: 19.5px;
  left: 12px;
  width: 427.61px;
  overflow: hidden;
}
.inputname {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 60px;
}
.full-name1 {
  position: absolute;
  height: calc(100% - 42px);
  width: calc(100% - 386.07px);
  top: 19px;
  left: 13px;
  font-size: var(--font-size-lg);
  line-height: 22.5px;
  display: flex;
  align-items: center;
}
.div3 {
  position: absolute;
  top: 16px;
  left: 0;
  width: 453.61px;
  height: 60px;
}
.email-address,
.infoexamplecom {
  position: absolute;
  display: flex;
  align-items: center;
}
.infoexamplecom {
  top: 0;
  left: 0;
  width: 138.17px;
  height: 19px;
}
.email-address {
  height: calc(100% - 42px);
  width: calc(100% - 357.52px);
  top: 19px;
  left: 13px;
  font-size: var(--font-size-lg);
  line-height: 22.5px;
}
.div4 {
  position: absolute;
  top: 91px;
  left: 0;
  width: 453.61px;
  height: 60px;
}
.password,
.password1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.password {
  top: 0;
  left: 0;
  width: 70.86px;
  height: 19px;
}
.password1 {
  height: calc(100% - 42px);
  width: calc(100% - 387.18px);
  top: 19px;
  left: 13px;
  font-size: var(--font-size-lg);
  line-height: 22.5px;
}
.div6 {
  position: relative;
  line-height: 30px;
}
.div5,
.span {
  position: absolute;
}
.span {
  top: 15px;
  left: 413.61px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.div5 {
  top: 166px;
  left: 0;
  width: 453.61px;
  height: 60px;
}
.icon-googlesvg1 {
  position: relative;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
  overflow: hidden;
}
.a,
.a1,
.a2,
.a3,
.icon-googlesvg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a,
.a1,
.a2,
.a3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-lightgray-200);
  padding: var(--padding-4xs);
}
.a1,
.a2,
.a3 {
  left: 123.2px;
}
.a2,
.a3 {
  left: 246.41px;
}
.a3 {
  left: 369.61px;
}
.h4before,
.ul {
  position: absolute;
  top: 70.8px;
  left: 0;
  width: 453.61px;
  height: 84px;
}
.h4before {
  top: 7.89px;
  background-color: var(--color-lightgray-200);
  height: 1px;
}
.or-continue-with {
  position: absolute;
  top: 0;
  left: calc(50% - 49.87px);
  line-height: 16.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99.93px;
  height: 16px;
}
.span1 {
  position: absolute;
  top: 0;
  left: calc(50% - 69.87px);
  background-color: var(--color-white);
  width: 139.73px;
  height: 16.8px;
}
.div7,
.h4 {
  position: absolute;
  left: 0;
}
.h4 {
  top: 30px;
  width: 453.61px;
  height: 16.8px;
}
.div7 {
  top: 409.5px;
  height: 220.8px;
  text-align: center;
  font-size: var(--font-size-base);
}
.div1,
.div7,
.form {
  width: 453.61px;
}
.form {
  position: absolute;
  top: 114.5px;
  left: 0;
  height: 630.3px;
  font-size: var(--font-size-2xl);
}
.div1 {
  top: 75.59px;
  left: 75.59px;
  height: 744.8px;
}
.div,
.div1,
.icon {
  position: absolute;
}
.div {
  height: 100%;
  width: calc(100% - 907.2px);
  top: 0;
  right: 45.2px;
  bottom: 0;
  left: 862px;
  background-color: var(--color-white);
}
.icon {
  top: 79px;
  left: 0;
  width: 892px;
  height: 824px;
  object-fit: cover;
}
.untreeco-by-htmltodesign {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color-gray-500);
  font-family: var(--font-roboto);
}
