/* About Us Section */
.aboutus-container {
    margin-top: 1px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #ABB6FB 0%, rgba(238, 233, 240, 0.87) 33.85%, rgba(234, 233, 241, 0.863858) 33.86%, rgba(252, 252, 252, 0.61) 100%, rgba(252, 252, 252, 0.61) 100%);
}

#hostelhoppertext {
    position: relative;
    width: 342px;
    height: 77px;
    left: 620px;
    top: 67px;
    font-weight: 700;
    font-size: 32px;
    color: #2A3CAB;
}

#line {
    position: relative;
    width: 177px;
    height: 0px;
    left: 693px;
    top: 48px;
    border: 2px solid #0C8CE9;
}

.aboutpara {
    position: relative;
    width: 1250px;
    height: 105px;
    left: 150px;
    top: 78px;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

#aboutusparagraph2 {
    position: relative;
    top: 37px;
}

#readmorebutton {
    border: 1px solid #6674CC;
    color: white;
    position: relative;
    width: 146px;
    height: 46px;
    left: 709px;
    top: 48px;
    background: #6674CC;
    border-radius: 30px;
}

#meatteam {
    position: relative;
    width: 314px;
    height: 46px;
    left: 630px;
    top: 85px;
    font-weight: 700;
    font-size: 42px;
    color: #0D0D0D;

}

#line-2 {
    position: relative;
    width: 177px;
    height: 0px;
    left: 716px;
    top: 128px;
    border: 2px solid #0C8CE9;
}

#aboutparagraph3 {
    position: relative;
    width: 1250px;
    height: 105px;
    left: 143px;
    top: 154px;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.image-circle-2 {
    display: flex;
    margin-left: -59px;
    position: relative;
    left: -373px;
    top: 17px;
}

.item-img-1 {
    position: relative;
    width: 70px;
    height: 70px;
    top: 110px;
    left: -560p;
    margin-left: 67px;
}
.item-img-1 img{
    border: 1px solid black;
    border-radius: 50%;
}

.text-1 {
    height: 19px;
    width: 115px;
}

#text-3 {
    font-style: italic;
    margin-left: 25px;
}