.second-container {
    width: 100%;
    height: 99vh;
}

#imagedusri {
    z-index: 1;
    width: 100%;
    height: 99.3vh;

}

#imagetisri {
    position: relative;
    margin-top: 10px;
    top: -389px;
    width: 100%;

}

.second-heading {
    position: relative;
    width: 737px;
    height: 70px;
    left: calc(50% - 737px/2 + 22.5px);
    top: -1036px;
    font-weight: 800;
    font-size: 65px;
    color: #000000;

}

.item-container {
    position: relative;
    width: 802px;
    height: 287px;
    left: 381px;
    top: -979px;
    background: #FFFCFC;
    box-shadow: 8px 7px 11px 4px rgb(0 0 0 / 0.25);
}


form.example input[type=text] {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 2px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(1, 1, 1);
    float: left;
    width: 80%;
    background: white;
}

/* Style the submit button */
form.example button {
    margin-top: 15px;
    float: left;
    width: 130px;
    padding: 10px;
    background: #6674CC;
    color: white;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
}

form.example button:hover {
    background: #5061cf;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.location {
    margin-right: 5px;
    width: 18px;
    height: 16.5px;
}

.item-circle {
    margin-top: 30px;
    margin-left: 93px;
    height: 100px;
    width: 686;
    display: flex;
}

.item-circle-2 {
    position: relative;
    margin-left: 93px;
    margin-top: -7px;
    display: flex;
}

.item-img img {
    border-radius: 50%;
    border: 1px solid black;
    width: 45px;
    height: 45px;

}

.text {
    margin-left: -10px;
}

#second-image {
    margin-left: 25px;

}

#third-image {
    margin-left: 20px;
}

#fourth-image {
    margin-left: 25px;
}

#fifth-image {
    margin-left: 25px;
}

#sixth-image {
    margin-left: 25px;
}

#seventh-image {
    margin-left: 25px;
}

#eight-image {
    margin-left: 25px;
}

#nineth-image {
    margin-left: 25px;
}

#tenth-image {
    margin-left: 25px;
}

#eleventh-image {
    margin-left: 25px;
}

#twelth-image {
    margin-left: 25px;
}

#thirteen-image {
    margin-left: 25px;
}